<p-dialog #dialog header="Thêm/ Sửa nhãn hiệu" positionTop="50" [(visible)]="isShow" [contentStyle]="{'max-height': getMaxDialogHeight()}" [modal]="true" appendTo="body" [style]="{width: '20vw'}" [baseZIndex]="10000">

    <div class="ui-g-12 ui-lg-12">
        <div class="vs-form-control ui-g">
            <form action="" [formGroup]="formGroup">
                <div class="row" style="margin-top:20px;">
                    <div class="col-12 mb-20">
                        <span class="p-float-label">
                            <input [(ngModel)]="modelEdit.ten" formControlName="ten" class="w-100-p" type="text" pInputText>
                            <label for="float-input">Tên nhãn hiệu</label>
                        </span>
                        <div class="warning-valid" *ngIf="!formGroup.controls['ten'].valid && submitted">Tên không được bỏ trống</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p-footer>
        <button pButton type="button" label="Lưu" (click)="save()" class="p-button-sm"></button>
        <button pButton type="button" label="Đóng" (click)="closeForm()" class="p-button-sm p-button-secondary"></button>
    </p-footer>
</p-dialog>