<p-dialog #dialog header="Thêm/ Sửa Banner" positionTop="50" [(visible)]="isShow" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <form [formGroup]="formGroup">
      <div class="row" style="margin-top:40px;">
        <!-- Tên banner -->
        <div class="col-12 mb-20">
          <span class="p-float-label">
            <input [(ngModel)]="modelEdit.name"  formControlName="name" class="w-100-p" type="text" pInputText />
            <label for="name">Name</label>
          </span>
          <div class="warning-valid" *ngIf="formGroup.controls['name'].invalid && submitted">Trường thông tin bắt buộc!</div>
        </div>
      </div>


        <button pButton type="button" label="AddClaim" (click)="showAddClaimForm()" class="p-button-sm"></button>
    <br>
    <!-- Form thêm Claim -->
    <div *ngIf="isAddClaimVisible" class="mb-20">
        <h4>Thêm Claim Mới</h4>
        <div class="col-12 mb-20">
            <span class="p-float-label">
                <input [(ngModel)]="newClaim.type" formControlName="type"   class="w-100-p" type="text" pInputText placeholder />
                <label for="type">Type</label>
            </span>
        </div>
        <div class="col-12 mb-20">
            <span class="p-float-label">
                <input [(ngModel)]="newClaim.value" class="w-100-p" formControlName="value" type="text" pInputText placeholder/>
                <label for="value">Value</label>
            </span>
        </div>
        <!-- <button pButton type="button" label="Add" (click)="saveClaim()" class="p-button-sm"></button> -->
        <button pButton type="button" label="Add" (click)="addClaim()" class="p-button-sm"></button>
        <button pButton type="button" label="Hủy" (click)="isAddClaimVisible = false" class="p-button-sm p-button-secondary"></button>
    </div>
    <!-- form hiển thị -->
      <div *ngIf="claims.length > 0" class="mb-20">
        <h4>Các Claim:</h4>
        <p-table [value]="claims" [scrollable]="true" scrollHeight="200px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Loại Claim</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-claim>
                <tr>
                    <td>{{ claim.type }}</td>
                    <td>{{ claim.value }}</td>
                    <td>
                        <button pButton type="button" label="Xóa" (click)="onDeleteClaim(claim.id)" class="p-button-sm p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>



    </form>
    <p-footer>
      <button pButton type="button" label="Lưu" (click)="save()" class="p-button-sm"></button>
      <button pButton type="button" label="Đóng" (click)="closeForm()" class="p-button-sm p-button-secondary"></button>
    </p-footer>
</p-dialog>
  